:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
  --white: 255, 255, 255;
  --base: rgb(0, 15, 20);
  --base-content: rgb(171, 182, 178);
  
  --brand: 0, 212, 141;  
}
