@import "./_reset.css";
@import "./_variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--base);
  color: var(--base-content);
}

header {
  height: 50px;

  nav {
    background-color: var(--base);
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;

    > a {
      font-size: 1.75rem;
      font-weight: 600;
      color: rgba(var(--brand));
    }

    ul {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        font-family: var(--font-mono);
      }

      a:hover {
        color: rgba(var(--brand));
        transition: 0.3s;
      }
    }
  }
}

main {
  padding: 1rem;
  max-width: 900px;
  margin: auto;
  > section {
    height: calc(100vh - 50px);
    scroll-margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

button {
  padding: 8px 16px;
  background-color: transparent;
  color: rgba(var(--brand));
  border: 1px solid rgba(var(--brand));
  border-radius: 4px;
  transition: 0.3s;
  font-size: 1rem;
  font-family: var(--font-mono);
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--brand), 0.1);
  }
}

.hero {
  gap: 32px;

  h2 {
    color: rgba(var(--brand));
    font-family: var(--font-mono);
    font-size: 1.25rem;
  }

  h3 {
    font-size: 3rem;
    color: rgb(var(--white));
  }

  h4 {
    font-size: 3rem;
  }
}
