@import "_reset.css";
@import "_variables.css";
@import "_components.css";

:root {
  --nav-offset: 64px;
}

body {
  font-family: var(--font-sans);
  background-color: var(--base-100);
  color: hsl(var(--base-content));
}

.navbar {
  height: var(--nav-offset);
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  padding: var(--space-4);

  position: fixed;
  top: 0;

  transition: all 0.3s;

  color: hsl(var(--primary-content));
}

.navbar.scrolled {
  background-color: var(--base-100);
  box-shadow: var(--shadow-md);
  color: hsl(var(--base-content));
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.nav-item {
  padding: var(--space-2) var(--space-4);
}

.nav-brand {
  font-size: 1.5rem;
}

.container {
  max-width: 720px;
  margin: auto;
}

.section {
  height: calc(100vh - var(--nav-offset));
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.section.landing {
  height: calc(100vh);
  padding-top: 50px;
  color: hsl(var(--primary-content));
  background-image: linear-gradient(140deg, #6000f9 0%, #e400ba 75%);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  font-size: var(--font-size-lg);
}

.hero h2 {
  font-size: var(--font-size-6xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.2em;
}
.hero h3 {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-medium);
  color: hsl(var(--primary-content) / 80%);
  text-shadow: 4px 4px 4px hsl(var(--base-content) / 30%);
  line-height: 1.2em;
}

.skills {
  display: grid;
  grid-template-columns: max-content max-content;
}
.skills li {
  padding: 8px;
}
.skills li::before {
  color: var(--secondary);
  margin-right: 8px;
  font-size: var(--font-size-2xl);  
  content: "→";
}
